<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Labels</title>
    <style>
    html, body {
        height: 90%;
        margin: 0;
        padding: 0;
    }
    #map {
        height: 90%;
    }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
    // In the following example, markers appear when the user clicks on the map.
    // Each marker is labeled with the name of the place
    $(function(){

        function loadList()
        {
            $.get("test",
                function(data,status)
                {
                    var objects = JSON.parse(data);
                    var qList = $("#point_list");
                    qList.empty();

                    for (var i = 0; i < objects.length; i++) {
                        var tmp = objects[i].fields;
                        var li = $('<li/>')
                        .text(tmp.address + ' Lat:'+tmp.lat + 'Lng:'+ tmp.lng )
                        .appendTo(qList);
                    }
                }
            );
        }

        loadList();
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        function initialize() {
            var mexico = { lat: 19.446006, lng: -99.197375 };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: mexico
            });

            // This event listener calls addMarker() when the map is clicked.
            google.maps.event.addListener(map, 'click', function(event) {
                addMarker(event.latLng, map);
            });

        };

        function addMarker(location, map) {
            // Add the marker at the clicked location, and add the next-available label
            // from the array of alphabetical characters.
            var geocoder = new google.maps.Geocoder;
            var infowindow = new google.maps.InfoWindow;

            geocoder.geocode({'location': location}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[1]) {

                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });
                        infowindow.setContent(results[1].formatted_address);
                        infowindow.open(map, marker);

                        var address = {
                            lat: results[0].geometry.location.lat(),
                            lng: results[0].geometry.location.lng(),
                            address: results[1].formatted_address
                        };

                        $.post("test",
                        JSON.stringify(address)
                        ,
                        function(data, status){
                            console.log("Data: " + data + "\nStatus: " + status);
                        });

                        loadList();


                    } else {
                        window.alert('Invalid Address');
                    }
                } else {
                    window.alert('Geocoder Error: ' + status);
                }
            });

        };
        google.maps.event.addDomListener(window, 'load', initialize);
});



    // Adds a marker to the map.
    </script>
</head>
<body>
    <div id="map"></div>
    <div>
        <ul id="point_list">

        </ul>
    </div>
</body>
</html>
